.portfolio-card table
{
	margin-left: auto !important;
	margin-right: auto !important;
	font-size: 1.5rem;
}

.portfolio-card table td
{
	text-align: center;
}

.portfolio-card table td img
{
	height: 2em;
	padding: 0.25rem;
}

.change-pos
{
	color: lawngreen;
}

.change-neg
{
	color: mediumvioletred;
}

.ext-change-pos
{
	color: lawngreen;
	opacity: 50%;
}

.ext-change-neg
{
	color: mediumvioletred;
	opacity: 50%;
}

.update-indicator
{
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 0.5rem;
}