.portfolio-card table
{
	margin-left: auto !important;
	margin-right: auto !important;
	font-size: 1.5rem;
}

.portfolio-card table td
{
	text-align: center;
}

.portfolio-card table td img
{
	height: 2em;
	padding: 0.25rem;
}

.change-pos
{
	color: lawngreen;
}

.change-neg
{
	color: mediumvioletred;
}
