@page "/"
@namespace DashBored.Host.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
}

<div id="loaderRoot">
    <div class="loading-overlay">
    </div>
    <div class="loading-overlay-container">
        <span class="loader"></span>
    </div>
</div>

<component type="typeof(App)" render-mode="ServerPrerendered" />
