@using Microsoft.AspNetCore.Components.Web
@namespace DashBored.Host.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    <title>DashBored</title>
    <base href="~/" />

    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="./nifty_v3/css/color-schemes/dark/bootstrap.css">
    <link rel="stylesheet" href="./nifty_v3/css/nifty.min.css">
    <link rel="stylesheet" href="./nifty_v3/css/color-schemes/dark/nifty.css">
    <link rel="stylesheet" href="./css/main.css">
    <link href="DashBored.Host.styles.css" rel="stylesheet">

    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>

<body class="jumping">
    <div id="root" class="root mn--push hd--expanded">
        <section id="content" class="content">          
            <div class="content__boxed">
                <div class="content__wrap">
                    @RenderBody()
                </div>
            </div>
        </section>
    </div>
    
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    <script src="_framework/blazor.server.js"></script>
</body>
</html>