@page "/AuthRedirect"
@using DashBored.Host.Data
@using Microsoft.AspNetCore.Components
@model DashBored.Host.Pages.AuthRedirectModel

<p>Authentication complete.</p>

<script>
	window.close();
</script>