.dashboard-container
{
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(12, 1fr);
	column-gap: 0.5rem;
	row-gap: 0.5em;
	padding: 0.5rem;
	height: 100vh;
}

.card-content
{
	display: flex;
}

.no-padding
{
	padding: 0 0 0 0;
}