@using System.Text
@using DashBored.PluginApi
@inherits LayoutComponentBase

<div class="card mb-4 @GetClasses()" style="@Style">
    @if(Title != null)
    {
        <h5 class="card-header">@Title</h5>
    }
    <div class="@GetContentClasses()">
        @ChildContent
    </div>
</div>

@code {
    [Parameter]
    public RenderFragment ChildContent {get;set;}

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string Colour { get; set; }

    [Parameter]
    public string Style { get; set; }

    [Parameter]
    public CardStyle CardStyle { get; set; }

    [Parameter]
    public bool WhiteText { get; set; } = false;

    private string GetClasses()
    {
        var sb = new StringBuilder();
        if(WhiteText)
        {
            sb.Append(" text-white");
        }

        if(Colour != null)
        {
            sb.Append(" bg-");
            sb.Append(Colour);
        }

        return sb.ToString();
    }

    private string GetContentClasses()
    {
        var sb = new StringBuilder();
        if(!CardStyle.Padding)
        {
            sb.Append("no-padding ");
        }
        sb.Append("card-body card-content ");
        sb.Append(CardStyle.Classes);
        

        return sb.ToString();
    }
}
