@using DashBored.Host.Data
@inherits LayoutComponentBase

@inject PageService Pages

<PageTitle>Home</PageTitle>

<div class="dashboard-container">
	@foreach(var page in Pages.Pages)
	{
		foreach(var tile in page.Tiles)
		{
			var gridArea = $"grid-area: {tile.Y}/{tile.X}/{tile.Y + tile.Height}/{tile.X + tile.Width}";

			<Card Style="@gridArea" CardStyle="@tile.CardStyle">
				<DynamicComponent Type="@tile.RazorType" />
			</Card>
		}
	}
</div>