@font-face
{
    font-family: "Poppins Regular";
    src: url("/fonts/poppins/Poppins-Regular.ttf") format("truetype");
}

body
{
    font-family: "Poppins Regular" sans-serif !important;
}

#root
{
    font-family: "Poppins Regular" sans-serif !important;
}

.secrets
{
    position: fixed;
    bottom: 0.5em;
    right: 0.5em;
    opacity: 33%;
}

.error-message
{
    margin: auto;
}

.blazor-modal-show
{
    display: block;
}